:root {
  --clr-primary: #18181e;
  --clr-light: #dec79b;
  --clr-dark: #333;
  --clr-warning: rgb(99, 36, 36);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: "Cardo", serif;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  margin: 0;
  font-size: 1.5rem;
  display: grid;
  grid:
    ". pomodoro pomodoro ." auto
    "header header header header" auto
    "...... lists active ......" auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

@media screen and (max-width: 820px) {
  body {
    grid:
      "header header header" auto
      ". lists ." auto
      ". active ." auto /
      1fr minmax(100px, 450px) 1fr;
  }

  .all-tasks {
    margin-bottom: 30px;
  }

  .todo-list {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 420px) {
  body {
    grid:
      "header header header" auto
      ". lists ." auto
      ". active ." auto /
      1fr minmax(100px, 450px) 1fr;
    font-size: 1.2rem;
  }
  .all-tasks {
    margin-left: 10px;
  }

  h2 {
    font-size: 1.4rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: var(--clr-light);
}

.pomodoro {
  grid-area: pomodoro;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  letter-spacing: 2px;
}

.all-tasks {
  grid-area: lists;
}
