.pomodoro {
  margin-top: 20px;
  text-align: center;
}

#upperButtons div,
#timer div,
#lowerButtons div {
  display: inline-block;
}

.button {
  cursor: pointer;
}

#upperButtons div,
#lowerButtons div {
  padding: 1%;
  border: 2px solid var(--clr-light);
  border-radius: 25px;
  text-align: center;
  transition: all 0.35s linear;
}

#upperButtons div:hover,
#lowerButtons div:hover {
  color: var(--clr-primary);
  background-color: var(--clr-light);
}

#timerContainer {
  background: var(--clr-dark);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3%;
}

#mode {
  background-color: rgba(0, 0, 0, 0.2);
  padding: var(--spacer);
  font-size: 36px;
}

#timer {
  font-size: 36px;
}

.plusMinusButton {
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 2%;
}
