.pomodoro {
  margin-top: 20px;
  text-align: center;
}

.modal {
  display: none;
  background-color: var(--clr-warning);
  color: var(--clr-primary);
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 10px;
  border-radius: 2em;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-content p {
  margin-right: 10px;
}

.close {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#upperButtons div,
#timer div,
#lowerButtons div {
  display: inline-block;
}

.button {
  cursor: pointer;
}

#upperButtons div,
#lowerButtons div {
  padding: 1%;
  border: 2px solid var(--clr-light);
  border-radius: 25px;
  text-align: center;
  transition: all 0.35s linear;
}

#upperButtons div:hover,
#upperButtons div:focus,
#lowerButtons div:hover {
  color: var(--clr-primary);
  background-color: var(--clr-light);
}

#timerContainer {
  background: var(--clr-dark);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 3%;
}

#mode {
  background-color: rgba(0, 0, 0, 0.2);
  padding: var(--spacer);
  font-size: 36px;
}

#timer {
  font-size: 36px;
}

.plusMinusButton {
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 2%;
}

.plusMinusButton:hover {
  background-color: var(--clr-light);
  color: var(--clr-primary);
}

#resume {
  display: none !important;
}
